@import "config";

.about-section-wrapper {

    height: 100vh;
}

.about-section-container {
    height: 100%;
    display: flex;
    align-items: center;
}


.about-section {
    height: 80%;
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: $border-radius ;
    background-color: #9cff99;
    background-image:
        radial-gradient(at 24% 23%, hsla(5, 67%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 65%, hsla(204, 68%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 31% 82%, hsla(187, 80%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 57% 28%, hsla(309, 88%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 55% 3%, hsla(354, 67%, 66%, 1) 0px, transparent 50%),
        radial-gradient(at 85% 16%, hsla(67, 68%, 72%, 1) 0px, transparent 50%),
        radial-gradient(at 5% 20%, hsla(299, 97%, 71%, 1) 0px, transparent 50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-bottom: 3rem;
    @include mobile {
        border-radius: 0;
    }
}




.about-text {
    padding: 2rem 1rem 3rem 1.4rem;

    @include desktop {
        padding-left: 4rem;
    }
}