@import "config";

.about-section-wrapper {

    height: 100vh;
    width: 100%;

    @include mobile {
        height: 100%;
        width: 90%;
        margin: 2rem auto;
    }
}

.about-section-container {
    height: 100%;
    display: flex;
    align-items: center;
}


.about-section {
    height: 80%;
    width: 100%;
   padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: $border-radius ;
    background-color: #99a0ff;
    background-image:
        radial-gradient(at 30% 57%, hsla(65, 72%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 85% 23%, hsla(191, 88%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 79%, hsla(139, 91%, 62%, 1) 0px, transparent 50%),
        radial-gradient(at 89% 82%, hsla(97, 67%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 92%, hsla(246, 77%, 79%, 1) 0px, transparent 50%),
        radial-gradient(at 97% 26%, hsla(65, 80%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 6% 13%, hsla(210, 61%, 76%, 1) 0px, transparent 50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 3rem;


}




.about-text {
    padding: 2rem 1rem 3rem 1.4rem;

    @include desktop {
        padding-left: 4rem;
    }
}