@import "config";





.contact-section-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
scroll-margin-top:2rem ;
margin: 4rem 0;

}

.contact-section-container {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.contact-section {
    height: 100%;
    padding: 7rem 2rem;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #99ddff;
    background-image:
        radial-gradient(at 63% 65%, hsla(80, 88%, 70%, 1) 0px, transparent 50%),
        radial-gradient(at 95% 5%, hsla(188, 67%, 73%, 1) 0px, transparent 50%),
        radial-gradient(at 58% 36%, hsla(350, 65%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 28% 20%, hsla(251, 60%, 78%, 1) 0px, transparent 50%),
        radial-gradient(at 86% 8%, hsla(99, 74%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 50% 11%, hsla(301, 73%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 57% 84%, hsla(280, 90%, 63%, 1) 0px, transparent 50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}





.contact-text {

    margin-bottom: 1rem;
}



.contact-links {

    .link-div {
        padding-top: 1rem;

        a {
            @include font($font-family-one, 2.2rem, 600);
            @include transition-ease;
            color: $color-text;
            text-transform: capitalize;
            cursor: pointer;

            &:hover {
                opacity: 0.7;

            }

            @include mobile {
                @include font($font-family-one, 1.4rem, 600);

            }

            @include tablet {
                @include font($font-family-one, 1.7rem, 600);

            }

        }

    }

}



.footer {
    @include font($font-family-one, 2rem, 600);
    text-align: center;

    span {
        color: $color-text;
    }

    @include mobile {
        @include font($font-family-one, 1rem, 600);
    }

    @include tablet {
        @include font($font-family-one, 1.3rem, 600);
        padding-top: 2rem;
    }

}