@import "config";



.skill-section-wrapper {
    height: 100vh;
    width: 100%;

    @include mobile {
        height: 100%;
        width: 90%;
        margin: 0 auto;
    }

}

.skill-section-wrapper {
    display: flex;
    align-items: center;
}


.skill-section {
    border-radius: $border-radius;
    padding: 4rem 0 2rem 0;
    background-color: #99f1ff;
    background-image:
        radial-gradient(at 82% 85%, hsla(139, 79%, 67%, 1) 0px, transparent 50%),
        radial-gradient(at 99% 69%, hsla(328, 83%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 88% 85%, hsla(310, 68%, 61%, 1) 0px, transparent 50%),
        radial-gradient(at 17% 69%, hsla(43, 78%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 47% 37%, hsla(285, 96%, 69%, 1) 0px, transparent 50%),
        radial-gradient(at 21% 31%, hsla(328, 68%, 71%, 1) 0px, transparent 50%),
        radial-gradient(at 39% 21%, hsla(288, 90%, 66%, 1) 0px, transparent 50%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


    @include tablet {
        padding: 2rem 0;

    }

    @include laptop {
        padding: 2rem 0;

    }
}


.skills-container {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 5rem 2rem;


    @include mobile {
        height: 500px;
        padding: 2rem 1rem 1rem 1rem;
        gap: 1rem;


    }

    @include tablet {
        height: 400px;
        padding: 1rem;
        gap: 2rem;


    }

    @include laptop {
        height: 400px;

    }


    @include desktop {
        height: 100%;

    }

    .skill-div {
        width: 100px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border-radius: 15px;
        background-color: #FF99CC;


        @include mobile {
            width: 70px;
            height: 70px;
        }

        @include tablet {
            width: 85px;
            height: 85px;

        }

        @include laptop {
            width: 85px;
            height: 85px;

        }

        .icon-div {


            i {
                font-size: 5rem;
                color: #000000;

                @include mobile {

                    font-size: 3rem;
                }


                @include tablet {
                    font-size: 4rem;

                }

                @include laptop {
                    font-size: 4rem;

                }
            }




            img {


                @include mobile {
                    width: 25px;
                }


                @include tablet {
                    width: 30px;
                }


                @include laptop {
                    width: 35px;
                }
            }



        }


        .icon-text {
            @include font($font-family-one, 1.9rem, 700);
            padding-top: 0.5rem;
            color: $color-text;

            @include mobile {
                @include font($font-family-one, 1.2rem, 700);

            }


            @include tablet {
                @include font($font-family-one, 1.4rem, 700);

            }

            @include laptop {
                @include font($font-family-one, 1.2rem, 700);

            }

        }
    }
}