@import "home";
@import "menu";
@import "about";
@import "projects";
@import "contact";
@import "config";
@import "skills";



body {
    overflow-x: hidden;
    color: $color-text;
    background-color: $color-main-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}





.section-heading {
    @include font($font-family-one, 2.8rem, 700);
    color: $color-text;
    text-transform: capitalize;
    text-align: left;

    @include mobile {
        @include font($font-family-one, 1.5rem, 700);
    }

    @include tablet {
        @include font($font-family-one, 1.5rem, 400);
    }

    @include laptop {
        @include font($font-family-one, 2.4rem, 400);
    }


}



.heading-two {
    @include font($font-family-one, 3.2rem, 600);
    padding-top: 1rem;
    color: $color-text;
    text-transform: capitalize;
    text-align: left;

    @include mobile {
        @include font($font-family-one, 1.8rem, 600);

    }

    @include tablet {
        @include font($font-family-one, 1.7rem, 600);

    }

    @include laptop {
        @include font($font-family-one, 2.4rem, 600);

    }


}



.paragraph-text {
    @include font($font-family-one, 2.2rem, 400);
    color: $color-text;
    line-height: 1.6;
    text-align: left;

    @include mobile {

        @include font($font-family-one, 1.6rem, 700);
    }

    @include tablet {

        @include font($font-family-one, 1.5rem, 400);


    }

    @include laptop {

        @include font($font-family-one, 2rem, 400);
    }



}